﻿@using Microsoft.AspNet.Identity
@model RealEstateLibrary.Models.Ad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Realty.RealtyType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realty.RealtyType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Realty.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realty.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Realty.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realty.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Realty.GPSLocation.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realty.GPSLocation.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Realty.GPSLocation.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realty.GPSLocation.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Realty.GPSLocation.Altitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realty.GPSLocation.Altitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        @if (Model.Photos.Count > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Photos)
            </dt>
            for (int i = 0; i < Model.Photos.Count; i++)
            {
                if (Model.Photos[i].URL != null)
                {
                    <td>
                        <img src="@Model.Photos[i].URL" alt="image" width="100px" height="100px" />
                    </td>

                }
            }
        }

    </dl>
</div>
@if (Model.User.Equals(User.Identity.Name))
{
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdID }) |
    @Html.ActionLink("Back to List", "Index")

</p>
}
else
{
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}
