<?php
use Zend\View\View;
use Zend\View\Helper\ViewModel;
?>
<strong>Module:</strong>        Mediador &raquo;
<strong>Controller:</strong>    Ad &raquo;
<strong>Action:</strong>        availability





<h2>Availability</h2>


<!--<a href="<?php // echo $this->url('ad', array('action'=>'index'));?>">Create New Ad</a>-->



 
 


<tr>
 <dl class="dl-horizontal">
 <form action="send()" method="put">
 <?php if (isset($_GET['Day'])) {
    send();
  }?>
 
 
 	<dt>
     	<?php   echo "Realty ID:";?> 
     </dt>
     
     
     
     <dd>
     	<input type="text"  value="<?php  echo $edit['RealtyID'];?>"name="ID" readonly> 
     </dd>
 	
 	
     <dt>
     	<?php   echo "Day:";?> 
     </dt>
     
     
     
     <dd>
     	<input type="text" value="YYYY-MM-DD" name="Day"> 
     </dd>
     
     <dt>
     	<?php   echo "Start Hour:";?> 
     </dt>
     
     <dd>
     <input type="text" value="HH:MM:SS" name="Start"> 
     </dd>
     
      <dt>
     	<?php   echo "End Hour:";?> 
     </dt>
     
     <dd>
     <input type="text" value="HH:MM:SS" name="End"> 
     </dd>
     
     
     
  
     <a href="http://localhost:8080/AppMediador/public/ad">Back</a> |
             
               <input type="submit" name="submit" value="Submit" onclick="send()" >
 	
     </form>
     
      </dl>



     
     <td>
     
               
              
             
                
            </td>
     

     
    
     

     <?php 
     use Zend\Http\Client;
      function send()
     {
         $id= $_GET["ID"];
         
         $day= $_GET['Day'].'T00:00:00.805439+00:00';
         $startDate= $_GET['Day'].'T'.$_GET['Start'].'.805439+00:00';
         $endDate= $_GET['Day'].'T'.$_GET['End'].'.805439+00:00';
         
         $response_array['RealtyID']=$id;
         $response_array['Day']=$day;
         $response_array['StartHour']=$startDate;
         $response_array['EndHour']=$endDate;
         session_start();
         $response_array['User']=$_SESSION['username'];
        
           $send = json_encode($response_array);
         
         
         $ch = curl_init('http://localhost:50371/api/Availability/');
         curl_setopt($ch, CURLOPT_CUSTOMREQUEST, "POST");
         curl_setopt($ch, CURLOPT_POSTFIELDS, $send);
         curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
         curl_setopt($ch, CURLOPT_HTTPHEADER, array(
             'Content-Type: application/json',
             'Content-Length: ' . strlen($send))
             );
        
        $result = curl_exec($ch);
      
        ob_start();
        header('Location: http://localhost:8080/AppMediador/public/ad');
        ob_end_flush();
        die();
     
     }
     ?>
  
            