<strong>Module:</strong>
Mediador &raquo;
<strong>Controller:</strong>
Ad &raquo;
<strong>Action:</strong>
index

<h2>Index</h2>


<!--<a href="<?php // echo $this->url('ad', array('action'=>'index'));?>">Create New Ad</a>-->

<p>
	<a href="ad/add">Create new Ad</a>
<?php session_start();?>
</p>
<table class="table">
	<tr>
		<th>
     	<?php   echo "AdTypeDescription";?> 
     </th>

		<th>
    	<?php   echo "RealtyTypeDescription";?> 
     </th>

		<th>
     	<?php   echo "Address";?> 
     </th>

		<th>
    	<?php   echo "Area";?> 
     </th>

		<th>
    	<?php   echo "Cost";?> 
     </th>
		<th>
    	<?php   echo "Mediator";?> 
     </th>
	</tr>
  
<?php
foreach ($this->anuncios as $anuncio) {
    ?> 
 <tr>
		<td>
     	<?php   echo $anuncio['AdTypeDescription']; ?> 
     </td>

		<td>
     	<?php   echo $anuncio['RealtyTypeDescription']; ?> 
     </td>

		<td>
     	<?php   echo $anuncio['Address']; ?> 
     </td>

		<td>
     	<?php   echo $anuncio['Area']; ?> 
     </td>

		<td>
     	<?php   echo $anuncio['Cost']; ?> 
     </td>
		<td>
     	<?php   echo $anuncio['Mediator']; ?> 
     </td>

		<td>
     	<?php  // echo $anuncio['Photo']; }?> 
     </td>

		<td><a href="ad/Edit/<?php echo $anuncio['AdID'];?>">Edit</a> | <a
			href=" ad/details/<?php echo $anuncio['AdID'];?>">Details</a> | <a
			href="ad/delete/<?php echo $anuncio['AdID'];?>">Delete</a> 
               <?php if($anuncio['Mediator']=='' || $anuncio['Mediator']==NULL){?>
               |<a href="ad/mediate/<?php echo $anuncio['AdID'];?>">Mediate</a> 
               <?php }elseif ($anuncio['Mediator']==$_SESSION['username']){?>
                | <a
			href="ad/availability/<?php echo $anuncio['AdID'];?>">Availability</a> 
               <?php }?>
               
              
              <?php
    // var_dump($this->url('Ad', array('action'=>'details', 'id' => $anuncio['AdID'])));
    // 'module'=>'Mediador', 'controller'=>'ad', 'action'=>'details', 'id'=>$anuncio['AdID']), null, true)
    ?>
             
                
            </td>
            <?php }?>
 </tr>

</table>




