﻿@model Cliente_IT3.ViewModels.RoleVM

@{
    ViewBag.Title = "addRoleToUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="spacerBody">
    <p>&nbsp;</p>
    @Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Roles", "Index")

    <h2>Add role to user</h2>
    @using (Html.BeginForm("addRoleToUser", "Role"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="message-success">@ViewBag.ResultMessage</div>
        <p>
            Username : @Html.DropDownList("user", ViewBag.Users as SelectList)
            Role Name: @Html.DropDownList("name", ViewBag.Roles as SelectList)
        </p>

        <input type="submit" value="Save" />
    }

    <h2>Remove role from user</h2>
    @using (Html.BeginForm("DeleteRoleForUser", "Role"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <p>
            Username : @Html.DropDownList("UserName", ViewBag.Users as SelectList)
            Role Name: @Html.DropDownList("RoleName", ViewBag.Roles as SelectList)
        </p>

        <input type="submit" value="Delete this user from Role" />
    }

    <h2>List roles for user</h2>
    @using (Html.BeginForm("GetUserRoles", "Role"))
    {
        @Html.AntiForgeryToken()
        <p>
            Username : @Html.DropDownList("UserName", ViewBag.Users as SelectList)
            <input type="submit" value="Get Roles for this User" />
        </p>
    }

    @if (ViewBag.RolesForThisUser != null)
    {
        <text>
            <h3>Roles for this user </h3>
            <ol>
                @foreach (string s in ViewBag.RolesForThisUser)
                {
                    <li>@s</li>
                }
            </ol>
        </text>
    }




</div>