<?php
use Zend\View\View;
use Zend\View\Helper\ViewModel;
?>
<strong>Module:</strong>        Mediador &raquo;
<strong>Controller:</strong>    Ad &raquo;
<strong>Action:</strong>        edit





<h2>Edit</h2>


<!--<a href="<?php // echo $this->url('ad', array('action'=>'index'));?>">Create New Ad</a>-->



 
 
 <tr>
 <dl class="dl-horizontal">
 <form  method="put">
 
 	<dt>
 	<?php if (isset($_GET["ID"])) {
    save();
  }?>
  
  <dd>
     	<input type="text"  value="<?php  echo $edit['ID'];?>"name="ID" readonly> 
     
     
     
     <dt>
     	<?php   echo "Day:";?> 
     </dt>
     
     <dd>
     	<input type="text"  value="<?php 
     	 $day = explode('T', $edit['Day']);
     	echo $day[0]; ?> "name="Day"> 
     </dd>
     
     <dt>
     	<?php   echo "Realty:";?> 
     </dt>
     
     <dd>
     <input type="text"  value="<?php  echo $edit['realty'];?>"name="Realty" readonly> 
     </dd>
     
      <dt>
     	<?php   echo "Start Hour:";?> 
     </dt>
     
     <dd>
     <input type="text"  value="<?php	
     $day = explode('T', $edit['StartHour']);
     $hour = explode('.', $day[1]);
     	   echo $hour[0]; ?>"name="Start"> 
     </dd>
     
      <dt>
     	<?php   echo "End Hour:";?> 
     </dt>
     
     <dd>
     	<input type="text"  value="<?php	
     $day = explode('T', $edit['EndHour']);
     $hour = explode('.', $day[1]);
     	   echo $hour[0]; ?>"name="End"> 
     </dd>
     
     
     
    
     <a href="http://localhost:8080/AppMediador/public/Availability">Back</a> |
             
               <input type="submit" name="submit" value="Submit">
     </form>
     
      </dl>



     
     <td>
     
               
              
             
                
            </td>
     

     <?php 
     use Zend\Http\Client;
      function save()
     {
  
        $id= $_GET['ID'];
        
        $client = new Client();
        $pedido= 'http://localhost:50371/api/Availability/'.$id;
        
        $client->setUri($pedido);
        $client->setOptions(array(
            'maxredirects' => 0,
            'timeout'      => 30,
            'Content-lenght' =>900,
        ));
        
        $response = $client->send();
        $response_array = json_decode($response->getBody(), true);
        
      
        
         
         $day= $_GET['Day'].'T00:00:00.805439+00:00';
         $startDate= $_GET['Day'].'T'.$_GET['Start'].'.805439+00:00';
         $endDate= $_GET['Day'].'T'.$_GET['End'].'.805439+00:00';
         
         $response_array['ID']= $_GET['ID'];
         $response_array['Day']=$day;
         $response_array['StartHour']=$startDate;
         $response_array['EndHour']=$endDate;
         
        
       // var_dump($response_array);
         $send = json_encode($response_array);
         
          
         $ch = curl_init('http://localhost:50371/api/Availability/'.$id);
         curl_setopt($ch, CURLOPT_CUSTOMREQUEST, "PUT");
         curl_setopt($ch, CURLOPT_POSTFIELDS, $send);
         curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
         curl_setopt($ch, CURLOPT_HTTPHEADER, array(
             'Content-Type: application/json',
             'Content-Length: ' . strlen($send))
             );
             $result = curl_exec($ch);
   
             
             ob_start();
             header('Location: http://localhost:8080/AppMediador/public/Availability');
             ob_end_flush();
             die();
     
     
     }
     ?>